apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: api-ingress
  namespace: dev
spec:
  ingressClassName: traefik
  rules:
  - host: mykube.freeddns.org #TODO
    http:
      paths:
        - path: /
          pathType: Prefix
          backend:
             service:
              name: {{ .Values.appName }}
              port:
                number: {{ .Values.service.port }}